.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  background-color: transparent;
  padding: 18px 28px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid $mainColor;
  color: $mainColor;
  &:hover {
    background-color: $mainColor;
    color: #fff;
    transform: scale(1.03);
    transition: all 0.2s;
  }
}

a.button {
  width: fit-content;
  text-decoration: none;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .button {
    padding: 14px 20px;
    &:hover {
      background-color: #fff;
      color: $mainColor;
      transform: scale(1);
      transition: all 0.2s;
    }
    &:active {
      background-color: $mainColor;
      color: #fff;
      transform: scale(1.03);
      transition: all 0.2s;
    }
  }
}

@media screen and (max-width: 375px) {
  .button {
    padding: 14px 20px;
    font-size: 16px;
  }
}
