.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  background-color: transparent;
  padding: 18px 28px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid $mainColor;
  color: $mainColor;
  &:hover {
    background-color: $mainColor;
    color: #fff;
    transform: scale(1.03);
    transition: all 0.2s;
  }
}

a.button {
  width: fit-content;
  text-decoration: none;
  display: inline-block;
}

.project-button {
  padding: 18px 28px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  backdrop-filter: blur(10px);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 3.2px;
  color: #ffffff;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .button {
    padding: 14px 20px;
    &:hover {
      background-color: #fff;
      color: $mainColor;
      transform: scale(1);
      transition: all 0.2s;
    }
    &:active {
      background-color: $mainColor;
      color: #fff;
      transform: scale(1.03);
      transition: all 0.2s;
    }
  }
  .project-button {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .button {
    padding: 14px 20px;
    font-size: 16px;
  }
}
