.header {
  position: fixed;
  height: calc(100vh - 123px);
  max-width: 260px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &_logo {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 5.6px;
    text-transform: uppercase;
  }

  &_hamburger {
    display: none;
  }

  &_nav {
    width: fit-content;
    &--item {
      font-size: 20px;
      text-transform: uppercase;
      margin-top: 12px;
      cursor: pointer;
      &:first-child {
        margin-top: 0;
      }

      &.active {
        font-weight: 700;
        p {
          width: fit-content;
          position: relative;
          &::after {
            content: '';
            display: block;
            position: absolute;
            left: calc(100% + 12px);
            top: 50%;
            transform: translateY(-50%);
            width: 22px;
            height: 2px;
            background-color: $mainColor;
          }
        }
      }
    }
  }
}

.language {
  &_current {
    position: relative;
    width: fit-content;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: calc(100% + 6px);
      top: 57%;
      transform: translateY(-50%);
      width: 6px;
      height: 1px;
      background-color: $mainColor;
    }
    &::before {
      transform: rotate(45deg) translateX(-50%);
    }
    &::after {
      transform: rotate(-45deg) translateX(50%);
    }
  }
  &_body {
    display: none;
  }
  &.open {
    .language {
      &_current {
        &::before {
          top: 7px;
          transform: rotate(-45deg) translateX(-50%);
        }
        &::after {
          top: 7px;
          transform: rotate(45deg) translateX(50%);
        }
      }
      &_body {
        display: block;
        margin-top: 10px;
        margin-left: 25px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .nav_wrapper {
    position: absolute;
    width: 100%;
    height: calc(100vh - 100%);
    background-color: #fff;
    right: 100%;
    top: 100%;
    transition: all 0.5s;
    visibility: hidden;
    &.active {
      right: 0;
      visibility: visible;
      z-index: 2;
    }
  }

  .header_hamburger .active {
    &--line > .active {
      &--1 {
        background-color: red;
      }
    }
  }

  .header {
    position: relative;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    padding: 40px 20px;

    &_hamburger {
      display: block;
      width: 52px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 5px 0;
      &--line {
        display: block;
        width: 100%;
        height: 4px;
        background-color: $mainColor;
        &--1 {
          transform-origin: 0% 0%;
          transition: transform 0.4s ease-in-out;
        }
        &--2 {
          transition: transform 0.2s ease-in-out;
        }
        &--3 {
          transform-origin: 0% 100%;
          transition: transform 0.4s ease-in-out;
        }
      }
    }

    &_logo {
      font-size: 32px;
    }
    &_nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      &--item {
        // margin-bottom: 38px;
        margin-bottom: 0;
        padding: 19px;

        p {
          font-size: 38px;
        }
      }
    }
  }
  .active > .header_hamburger--line {
    &--1 {
      transform: rotate(45deg) translate(-25%);
    }
    &--2 {
      transform: scaleY(0) translate(-25%);
    }
    &--3 {
      transform: rotate(-45deg) translate(-25%);
    }
  }
  .language {
    position: relative;

    &.open {
      .language {
        &_body {
          display: block;
          position: absolute;
          top: 100%;
          left: 50%;
          margin-top: 0;
          &--item {
            font-size: 30px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .header {
    &_logo {
      font-size: 24px;
    }
    &_hamburger {
      &--line {
        height: 2px;
        width: 33px;
      }
    }
    &_nav {
      &--item {
        p {
          font-size: 32px;
        }
      }
    }
  }
}
