.home {
  &_img {
    margin-bottom: 150px;
    img {
      width: 100%;
    }
  }
  &_phrase {
    font-weight: 300;
    font-size: 20px;
    line-height: 110%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 52px;
    span {
      font-weight: 500;
    }
  }
  &_button {
    display: block;
    margin: 0 auto;
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 768px) {
  .home {
    &_phrase {
      line-height: 170%;
    }
  }
}
